.env
08_1__pracujemy_z_plikami_pdf_obrazek_zrzut_ekranu.ipynb
24__exploring_data_base__qdrant__remote.ipynb
zrzuty_ekranu_moje.ipynb
Wzór fiszki od wojciecha.pdf
wzór_fiszki_wypełniona.png
gaz_2024_01.png